@import url(https://fonts.googleapis.com/css2?family=Poppins%3Awght%40100%3B200%3B300%3B400%3B500%3B600&display=swap%27%29%3B);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #000000;
    --second-bg-color: #161616;
    --text-color: #fff;
    --main-color: #7b4bb7;
    --grad-color: #aa507c;
    --bg-bar: #475472;

    --duration: 1s;
    --nav-duration: calc(var(--duration) / 4);
    --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
    --space: 1rem;
    --font-size: 1.125rem;
    --line-height: 1.5;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    font-family: "Poppins", sans-serif;
    color: var(--text-color);
}

a:hover {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 0.8rem;
}
::-webkit-scrollbar-track {
    background: var(--bg-color);
}
::-webkit-scrollbar-thumb {
    background: var(--main-color);
}
.no-scroll {
  overflow-y: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* header at top */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4rem 15%;

    /* transparent header effect */
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);

    /* item placement */
    display: flex; /* flexible container */
    justify-content: space-between; /* items side-by-side with all available space between */
    align-items: center;
    z-index: 100;

    /* hidden nav bar for home section */
    opacity: 0;
    pointer-events: none; /* disable interaction when hidden */
    transition: opacity 0.2s ease-in-out;
}
.header.visible {
  opacity: 1;
  pointer-events: auto;
}
.logo {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer; /* indicates something clickable */
    transition: 0.3s ease-in-out; /* smooth transition for hover effect */
    /*text-wrap: nowrap; /* no line break when side gets smaller */
}
.logo:hover {
    transform: scale(1.1);
}
#menu-icon {
    font-size: 3.5rem;
    color: var(--main-color);
    cursor: pointer;
    display: none;
    z-index: 2;
}
#menu-icon:hover {
    transform: scale(1.1);
}
#menu-icon.fa-bars {
    color: var(--main-color);
}
#menu-icon.fa-xmark.open {
    color: var(--text-color);
}
#menu-icon.fa-xmark.open:hover {
    transform: scale(1.5);
    color: var(--second-bg-color);
}

span {
    background: linear-gradient(
        270deg,
        var(--main-color) 10%,
        var(--grad-color) 100%
    );

    /* put gradient inside text */
    background-clip: text;
    color: transparent;
}
.mobile-navbar {
    display: none;
}
.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem; /* space between items */
    font-weight: 800;
    transition: 0.3s ease-in-out;

    /* underline effect */
    border-bottom: 3px solid transparent;
}
.navbar a:hover,
.navbar a.active {
    color: var(--main-color);

    /* underline effect */
    border-bottom: 3px solid var(--main-color);
}

section {
    min-height: 100vh; /* cover entire page */
    padding: 10rem 15%; /* match with header and all other sections */
}
.home {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, var(--bg-color), transparent);
    z-index: 1000;
}
.home::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--main-color);
    z-index: 1000;
    mix-blend-mode: color;
}
.home img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
#mountain_moon {
    height: auto;
    max-height: 100vh;
}
#greeting {
    position: relative;
    color: var(--text-color);
    font-size: 8vw;
    z-index: 1;
}
#mountain_front {
    z-index: 2;
}

.aboutme {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15rem; /* gap between itmes */
    background: var(--bg-color);
}
.aboutme-content {
    display: flex;
    flex-direction: column; /* items on top of each other */

    /* right alignment */
    align-items: flex-end;
    text-align: right;
}
.aboutme-content h1 {
    font-size: 5rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}
.aboutme-content h3 {
    margin: 1rem 0; /* 1rem top/bottom, 0 sides */
    font-size: 2.1em;
}
.aboutme-content p {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8; /* easier readability */
    margin-bottom: 1rem;
}
.aboutme-img img {
    /*position: relative;*/
    width: 32vw; /* image size 32% of viewport width */
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    transition: 0.4s ease-in-out;
    cursor: pointer;
}
.aboutme-img img:hover {
    transform: scale(1.01);
    filter: drop-shadow(0 0 25px var(--main-color));
}
.social-links a {
    /* center multiple icons side-by-side horizontally */
    display: inline-flex;
    justify-content: center;
    align-items: center;

    font-size: 3rem;
    padding: 1rem;
    background: transparent;
    border: 2px solid var(--main-color);
    font-size: 3rem;
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 0.5rem;
    transition: 0.3s ease-in-out;
}
.social-links a:hover {
    color: var(--text-color);
    background: var(--main-color);
    transform: scale(1.2)translateY(-5px); /* chain transform effects */
    box-shadow: 0 0 25px var(--main-color);
}
.typewriter {
  font-size: 34px;
  font-weight: 600;
  min-width: 280px;
}
#typewriter-text {
  border-right: 3px solid var(--main-color); /* cursor */
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom; /* align baseline with surrounding text */
}

.btn-group {
    display: flex;
    gap: 1.5rem;
}
.btn {
    /* default button style */
    display: inline-block;
    padding: 1rem 3rem;

    background-color: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    border-radius: 3rem;
    font-size: 1.8rem;
    color: var(--text-color);
    font-weight: 600;

    border-radius: 3rem;
    border: 2px solid transparent;
    transition: 0.3s ease;

    cursor: pointer;
    text-wrap: nowrap;
}
.btn:hover {
    transform: scale(1.05);
    /*
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color);
    */
    filter: drop-shadow(0 0 25px var(--main-color));
}
.btn-group a:nth-of-type(2) {
    /* change second button */
    background-color: var(--bg-color);
    color: var(--main-color);
    border: 2px solid var(--main-color);
    box-shadow: 0 0 25px transparent;
}
.btn-group a:nth-of-type(2):hover {
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
    color: var(--text-color);
}

.heading {
    text-align: left;
    font-size: clamp(2.5rem, 8vw, 7rem);
    margin: 5rem 0;
}

.experience {
    background-color: var(--bg-color);
    color: black;
}
.experience h2 {
    color: var(--text-color);
}
.experience-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    align-items: center;
    gap: 2.5rem;
    row-gap: 7.5rem;
}
.experience-article {
    position: relative;
    overflow: hidden;
}
.experience-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    height: 300px;
    border-radius: 3rem;
    cursor: pointer;
    border: 5px solid transparent;
    transition: 0.4s ease-in-out;
}
.experience-info {
    display:flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}
.experience-info h4 {
    font-size: 2rem;
    margin: 2rem 0;
    font-weight: 800;
}
.experience-info i {
    font-size: 8rem;
}
.experience-info a {
    color: var(--bg-color);
}
.experience-info a:hover {
    color: var(--text-color);
}
.experience-data {
    width: calc(100% - 20px);
    background-color: var(--second-bg-color);
    padding: 1.5rem 2rem;
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
    border-radius: 3rem;

    position: absolute;
    bottom: -11rem;
    left: 0;
    right: 0;
    
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;
}
.experience-description {
    display: block;
    font-size: 1.2rem;
    margin-bottom: .25rem;
}
.experience-text {
    color: var(--text-color);
}
.experience-title {
    font-size: 1.7rem;
    font-weight: 500;
    color: var(--text-color);
    margin-bottom: .75rem;
}
.experience-article:hover .experience-data.small {
    animation: show-data_small 1s forwards;
    opacity: 1;
    transition: opacity .3s;
}
.experience-article:hover .experience-data.big {
    animation: show-data_big 1s forwards;
    opacity: 1;
    transition: opacity .3s;
}
.experience-article:hover {
    animation: remove-overflow 2s forwards;
}
.experience-article:not(:hover) {
    animation: show-overflow 2s forwards;
}
.experience-article:not(:hover) .experience-data.small {
    animation: remove-data_small 1s forwards;
}
.experience-article:not(:hover) .experience-data.big {
    animation: remove-data_big 1s forwards;
}

/* card animation */
@keyframes show-data_small {
    50% {
        transform: translateY(-10rem);
    }
    100% {
        transform: translateY(-8.5rem);
    }
}
@keyframes show-data_big {
    50% {
        transform: translateY(-10rem);
    }
    100% {
        transform: translateY(-5.5rem);
    }
}
@keyframes remove-overflow {
    to {
        overflow: initial;
    }
}
@keyframes remove-data_small {
    0% {
        transform: translateY(-8.5rem);
    }
    50% {
        transform: translateY(-10rem);
    }
    100% {
        transform: translateY(.5rem);
    }
}
@keyframes remove-data_big {
    0% {
        transform: translateY(-5.5rem);
    }
    50% {
        transform: translateY(-10rem);
    }
    100% {
        transform: translateY(.5rem);
    }
}
@keyframes show-overflow {
    0% {
        overflow: initial;
        pointer-events: none;
    }
    50% {
        overflow: hidden;
    }
}

.projects {
    background-color: var(--bg-color);
}
.projects  h2 {
    color: var(--text-color);
}
.ag-timeline-card_img-box img {
    max-width: 100%;
    height: auto;
    display: block;
}
.ag-timeline-card_img-box video {
  width: 100%;
  height: auto;
  border-radius: 8px; /* If your image had rounded corners */
  object-fit: cover;  /* Keeps it nicely cropped if needed */
}
.ag-timeline-card_img-box .video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 ratio */
  height: 0;
  overflow: hidden;
}
.ag-timeline-card_img-box .video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.ag-timeline-card_desc p {
     margin-bottom: 1em;
}
.ag-format-container {
    /*width: 1160px;*/
    width: 100%;
    margin: 0 auto;

    position: relative;
}
.ag-timeline-block {
    /*padding: 300px 0;*/
}
.ag-timeline_item {
    margin: 0 0 50px;

    position: relative;
}
.ag-timeline_item:nth-child(2n) {
    text-align: right;
}
.ag-timeline {
    display: inline-block;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;

    position: relative;
}
.ag-timeline_line {
    width: 2px;
    background-color: #393935;

    position: absolute;
    top: 2px;
    left: 50%;
    bottom: 0;

    overflow: hidden;

    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
.ag-timeline_line-progress {
    width: 100%;
    height: 20%;
    background-color: var(--main-color);
}
.ag-timeline-card_box {
    padding: 0 0 20px 50%;
}
.ag-timeline_item:nth-child(2n) .ag-timeline-card_box {
    padding: 0 50% 20px 0;
}
.ag-timeline-card_point-box {
    display: inline-block;
    margin: 0 14px 0 -28px;
}
.ag-timeline_item:nth-child(2n) .ag-timeline-card_point-box {
    margin: 0 -28px 0 14px;
}
.ag-timeline-card_point {
    height: 60px;
    line-height: 60px;
    width: 60px;
    border: 3px solid var(--main-color);
    background-color: var(--bg-color);

    text-align: center;
    font-size: 20px;
    color: var(--text-color);

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.js-ag-active .ag-timeline-card_point {
    color: var(--bg-color);
    background-color: var(--main-color);
}
.ag-timeline-card_meta-box {
    display: inline-block;
}
.ag-timeline-card_meta {
    margin: 10px 0 0;

    font-weight: bold;
    font-size: 28px;
    color: var(--main-color);
}
.ag-timeline-card_meta a {
    color: var(--main-color);
}
.ag-timeline-card_meta a:hover {
    color: var(--grad-color);
}
.ag-timeline-card_item {
    display: inline-block;
    width: 45%;
    margin: -77px 0 0;
    background-color: var(--second-bg-color);

    opacity: 0;

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;

    -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,.5);
    -moz-box-shadow: 0 0 0 0 rgba(0,0,0,.5);
    -o-box-shadow: 0 0 0 0 rgba(0,0,0,.5);
    box-shadow: 0 0 0 0 rgba(0,0,0,.5);

    -webkit-transition: -webkit-transform .5s, opacity .5s;
    -moz-transition: -moz-transform .5s, opacity .5s;
    -o-transition: -o-transform .5s, opacity .5s;
    transition: transform .5s, opacity .5s;

    position: relative;
}
.ag-timeline_item:nth-child(2n+1) .ag-timeline-card_item {
    -webkit-transform: translateX(-200%);
    -moz-transform: translateX(-200%);
    -ms-transform: translateX(-200%);
    -o-transform: translateX(-200%);
    transform: translateX(-200%);
}
.ag-timeline_item:nth-child(2n) .ag-timeline-card_item {
    -webkit-transform: translateX(200%);
    -moz-transform: translateX(200%);
    -ms-transform: translateX(200%);
    -o-transform: translateX(200%);
    transform: translateX(200%);
}
.js-ag-active.ag-timeline_item:nth-child(2n+1) .ag-timeline-card_item,
.js-ag-active.ag-timeline_item:nth-child(2n) .ag-timeline-card_item {
    opacity: 1;

    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}
.ag-timeline-card_arrow {
    height: 18px;
    width: 18px;
    margin-top: 20px;
    background-color: #333333;;

    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;

    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.ag-timeline_item:nth-child(2n+1) .ag-timeline-card_arrow {
    margin-left: calc(-18px / 2);
    margin-right: calc(-18px / 2);
}
.ag-timeline_item:nth-child(2n) .ag-timeline-card_arrow {
    margin-left: -10px;

    right: auto;
    left: 0;
}
.ag-timeline-card_img {
    width: 100%;
}
.ag-timeline-card_info {
    padding: 20px 30px;
}
.ag-timeline-card_title {
    display: none;
    margin: 10px 0 0;

    font-weight: bold;
    font-size: 28px;
    color: var(--main-color);
}
.ag-timeline-card_title a {
    color:var(--main-color);
}
.ag-timeline-card_title a:hover {
    color:var(--grad-color);
}
.ag-timeline-card_desc {
    line-height: 1.45;

    font-size: 16px;
    color: var(--text-color);
}
.ag-timeline_item:nth-child(2n-1) .ag-timeline-card_desc {
    text-align: right;
}
.ag-timeline_item:nth-child(2n) .ag-timeline-card_desc {
    text-align: left;
}

.skills {
    background-color: var(--bg-color);   
}
.skills-img {
    width: 32vw; /* image size 32% of viewport width */
    height: 32vw;
    border-radius: 20%;
    box-shadow: 0 0 25px var(--main-color);
    overflow: hidden;
    position: relative;
    transition: 0.4s ease-in-out;
    cursor: pointer;

    display: flex;             /* center child content */
    align-items: center;       /* vertical center */
    justify-content: center;   /* horizontal center */
}
.skills-img:hover {
    transform: scale(1.01);
    filter: drop-shadow(0 0 25px var(--main-color));
}
.zoom-image{
    position: absolute;
    width: 50%;
    max-width: 200%;
    height: 100%;

    object-fit: cover;
    object-position: top center;  /* crop from the top middle */
    transform-origin: top center; /* zoom towards the top */

    transition: opacity 0.3s ease;
    opacity: 0; /* start hidden */
}
.zoom-image.active {
    opacity: 1; /* only active one is visible */
    z-index: 1;
}
.skills-content {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}
.skills-container {
    max-width: 100%;
    width: 50%; 
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--bg-color);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    padding:20px;
    margin:0;
    box-sizing: border-box;
}
.skill-container {
    width:100%;
    margin:10px 0;
    padding: 10px 0;
    position:relative;
}
.skill-label-bar {
    display: flex;
    align-items: center;
    gap: 1rem; /* space between label and bar */
}
.skill-label-bar p {
    min-width: 80px; /* Adjust to your content */
    margin: 0;
    text-align: right;
    font-size: 16px;
}
.skill-label-bar i {
    font-size: 25px;
    min-width: 80px;
    text-align: right;
    color: var(--text-color);
}
.skill-label-bar .icon-wrapper {
    min-width: 80px;
    text-align: right;
}
.skill-label-bar svg {
    width: 25px;
    height: 25px;
    fill: var(--text-color);
}
.bar-wrapper {
    position: relative;
    flex: 1;
}
.bar {
    width: 100%;
    height: 20px;
    background: var(--bg-bar);
    border-radius: 100vw;
    overflow: hidden;
    position: relative;
}
.bar span {
    display: block;
    height: 100%;
    background: var(--main-color);
    border-radius: 100vw;
    width: 0;
}

/* adding animation to skill bar */
.ps.animate,
.office.animate {
    width: 90%;
    animation: ninety 3s;
}
.unity.animate,
.java.animate,
.git.animate {
    width:80%;
    animation: eighty 3s;
}
.c.animate {
    width:70%;
    animation: seventy 3s;
}
.sql.animate {
    width:50%;
    animation: fifty 3s;
}
.blender.animate,
.haskell.animate {
    width:30%;
    animation: thirdty 3s;
}

@keyframes ninety {
    0% {
        width:0%
    };
    100% {
        width:90%
    }
}
@keyframes eighty {
    0% {
        width:0%
    };
    100% {
        width:80%
    }
}
@keyframes seventy {
    0% {
        width:0%
    };
    100% {
        width:70%
    }
}
@keyframes fifty {
    0% {
        width:0%
    };
    100% {
        width:50%
    }
}
@keyframes thirdty {
    0% {
        width:0%
    };
    100% {
        width:30%
    }
}

.percentage {
    content: "";
    position: absolute;
    top:-28px;
    width:25px;
    height:20px;
    background: var(--main-color);
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    border-radius: 2px;
    z-index: 10;
    transition: all .3s ease-in-out;
    left: 0;
}
.percentage::after {
    content: "";
    position: absolute;
    top:15px;
    left:50%;
    transform: translateX(-50%) rotate(45deg);
    margin: auto;
    width:10px;
    height:10px;
    background: var(--main-color);
    z-index:-1;
}

/* adding animation to .percentage */
.ps-percentage.animate,
.office-percentage.animate {
    left:90%;
    transform: translateX(-50%);
    animation: ninety_percentage 3s;
}
.unity-percentage.animate,
.java-percentage.animate,
.git-percentage.animate {
    left:80%;
    transform: translateX(-50%);
    animation: eighty_percentage 3s;
}
.c-percentage.animate {
    left:70%;
    transform: translateX(-50%);
    animation: seventy_percentage 3s;
}
.sql-percentage.animate {
    left:50%;
    transform: translateX(-50%);
    animation: fifty_percentage 3s;
}
.blender-percentage.animate,
.haskell-percentage.animate {
    left:30%;
    transform: translateX(-50%);
    animation: thirdty_percentage 3s;
}

@keyframes ninety_percentage {
    0% {
        left:0
    };
    100% {
        left:90%;
    }
}
@keyframes eighty_percentage {
    0% {
        left:0
    };
    100% {
        left:80%;
    }
}
@keyframes seventy_percentage {
    0% {
        left:0
    };
    100% {
        left:70%;
    }
}
@keyframes fifty_percentage {
    0% {
        left:0
    };
    100% {
        left:50%;
    }
}
@keyframes thirdty_percentage {
    0% {
        left:0
    };
    100% {
        left:30%;
    }
}

.languages-content h4 {
    font-size: 3rem;
    margin: 2rem 0;
    font-weight: 800;
}
.circular-skills-wrapper {
  display: flex;
  justify-content: center;
}
.circular-skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 1000px;
  margin: auto;
}
.circular-skill-box
{
    position: relative;
    margin: 50px;
}
.circular-skill
{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circular-skill .points {
  width: 20px;            /* make it thicker */
  height: 20px;           /* same as width for a circle */
  background: var(--bg-bar);
  position: absolute;
  border-radius: 50%;    /* makes it perfectly round */
  transform: rotate(calc(var(--i)*var(--rot))) translateY(-100px);
  /* optionally add a border or shadow to make them pop */
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
}
/* permanent filled state */
.points.marked {
  background: var(--main-color);
  opacity: 1;
}
/* re-animation trigger */
.points.marked.animate {
  animation: fill 0.4s ease forwards;
  animation-delay: var(--delay, 0s);
}
@keyframes fill {
    0% 
    {
        opacity: 0.3;
        background: var(--bg-bar); 
    }
    100% 
    {
        opacity: 1; 
        background: var(--main-color); 
    }
}

.flag-circle {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flag-circle svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contact {
    background-color: var(--bg-color);
}
.contact h2 {
    margin-bottom: 3rem;
    color: var(--text-color);
}
.contact form {
    display: flex;
    align-items: center;

    /* side-by-side input groups */
    justify-content: center;
    gap: 3rem;
    margin: 5rem 0;

    text-align: center;
}
.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 2.5rem;
    font-size: 1.8rem;
    color: var(--text-color);
    background-color: var(--bg-color);
    border-radius: 2rem;
    border: 2px solid var(--main-color);
    margin: 1.5rem 0;
    resize: none; /* for textarea */
}

.footer {
    background-color: var(--second-bg-color);
    padding: 50px 0;
}
.footer .social-links {
    text-align: center;
}
.footer ul {
    text-align: center;
    font-size: 1.8rem;
}
.footer ul li {
    display: inline-block; /* items stay side-by-side */
    margin-left: 20px;
}
.footer ul li a {
    color: var(--text-color);
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;
}
.footer ul li a:hover {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}
.footer .copyright {
    text-align: center;
    margin-top: 40px;
    font-size: 16px;
}

/* media queries always last (overwriting) */
@media (max-width: 1285px) {
    #menu-icon {
        display: block; /* make icon visible */
    }
    .navbar {
        display: none;
    }
    .mobile-navbar {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        width: 100vw;
        height: 100vh;
        transform: translateX(-100%);
        transition: transform var(--nav-duration);
        z-index: 1;
    }
    .mobile-navbar::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--main-color);
        transform-origin: 0 50%;
        z-index: -1;
    }
    .mobile-navbar ul {
        font-size: 12vmin;
        width: 100%;
    }
    .mobile-navbar li {
        --border-size: 1vmin;
        display: flex;
        align-items: center;
        position: relative;
        overflow: hidden;
    }
    .mobile-navbar li::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: var(--border-size);
        background-color: var(--text-color);
        transform-origin: 0 50%;
        transform: translateX(-100%) skew(15deg);
    }
    .mobile-navbar a {
        display: inline-block;
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        color: var(--text-color);
        line-height: 1;
        text-decoration: none;
        user-select: none;
        padding: var(--space) calc(var(--space) * 2) calc(var(--space) + var(--border-size) / 2);
        transform: translateY(100%);
    }
    .mobile-navbar {
    transform: translateX(-100%);
    transition: transform var(--nav-duration);
    }
    .mobile-navbar.active {
        transform: translateX(0);
    }
    .mobile-navbar.active::after {
        animation: nav-bg var(--nav-duration) var(--ease) forwards;
    }
    .mobile-navbar.active li::after {
        animation: nav-line var(--duration) var(--ease) forwards;
    }
    .mobile-navbar.active a {
        animation: link-appear calc(var(--duration) * 1.5) var(--ease) forwards;
    }
    .mobile-navbar a:hover,
    .mobile-navbar a.active {
        transform: scale(1.1);
        padding: 1 rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid var(--second-bg-color);
        color: var(--second-bg-color);
    }

    @keyframes nav-bg {
    from { transform: translateX(-100%) skewX(-15deg) }
    to { transform: translateX(0) }
    }
    @keyframes nav-line {
    0%   { transform: scaleX(0); transform-origin: 0 50%; }
    35%  { transform: scaleX(1.001); transform-origin: 0 50%; }
    65%  { transform: scaleX(1.001); transform-origin: 100% 50%; }
    100% { transform: scaleX(0); transform-origin: 100% 50%; }
    }
    @keyframes link-appear {
    0%, 25%   { transform: translateY(100%); }
    50%, 100% { transform: translateY(0); }
    }

    .gradient-btn {
        display: none;
    }

    .heading {
        text-align: center;
    }
    
    .aboutme {
        flex-direction: column-reverse; /* switch order of divs */
        margin: 5rem 0;
        gap: 5rem;
    }
    .aboutme .aboutme-content {
        align-items: center;
        text-align: center;
    }
    .aboutme .aboutme-img img {
        width: 56vw;
    }

    .skills .skills-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .skills .skills-img img {
        max-width: 56vw;
    }
    .skills .skills-container {
        width: 100%;
    }

    .languages-content h4 {
        text-align: center;
    }

    .contact form {
        flex-direction: column;
    }
}

@media (max-width: 979px) {
    .ag-timeline_line {
        left: 30px;
    }

    .ag-timeline_item:nth-child(2n) {
        text-align: left;
    }

    .ag-timeline-card_box,
    .ag-timeline_item:nth-child(2n) .ag-timeline-card_box {
        padding: 0 0 20px;
    }
    .ag-timeline-card_meta-box {
        display: none;
    }
    .ag-timeline-card_point-box,
    .ag-timeline_item:nth-child(2n) .ag-timeline-card_point-box {
        margin: 0 0 0 8px;
    }
    .ag-timeline-card_point {
        height: 45px;
        line-height: 45px;
        width: 45px;

        font-size: 15px;
    }
    .ag-timeline-card_item {
        width: auto;
        margin: -65px 0 0 75px
    }
    .ag-timeline_item:nth-child(2n+1) .ag-timeline-card_item,
    .ag-timeline_item:nth-child(2n) .ag-timeline-card_item {
        -webkit-transform: translateX(200%);
        -moz-transform: translateX(200%);
        -ms-transform: translateX(200%);
        -o-transform: translateX(200%);
        transform: translateX(200%);
    }
    .ag-timeline_item:nth-child(2n+1) .ag-timeline-card_arrow {
        right: auto;
        left: 0;
    }
    .ag-timeline-card_title {
        display: block;
    }
    .ag-timeline_item:nth-child(2n-1) .ag-timeline-card_desc {
        text-align: left;
    }
    .ag-timeline-card_arrow {
        margin-top: 12px;
    }
}

/* smartphone/tablet */
@media (max-width: 768px) {
    .experience-container {
        row-gap: 8.5rem;
    }
    .experience-data {
        opacity: 1 !important;
        transition: none !important;
        animation: none !important;
    }
    .experience-data.small {
        bottom: -3rem;        /* sits inside the box */
    }
    .experience-data.big {
        bottom: -7rem;        /* sits inside the box */
    }
    .experience-article {
        animation: none !important;
        overflow: visible !important;
    }
    .experience-article .experience-data {
        opacity: 1 !important;
        animation: none !important;
        transition: none !important;
    }
    /* disable hover rules */
    .experience-article:hover,
    .experience-article:not(:hover),
    .experience-article:hover .experience-data,
    .experience-article:not(:hover) .experience-data {
        animation: none !important;
    }

    #avatar {
        display: none !important;
    }
}

@media (max-width: 639px) {
    .ag-timeline_title {
        font-size: 60px;
    }

    .ag-timeline-card_info {
        padding: 10px 15px;
    }
    .ag-timeline-card_desc {
        font-size: 14px;
    }

    .circular-skills-container {
        flex-direction: column;
        align-items: center;
    }
}